<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Women in Tech</title>
        <meta name="description" content="Showcasingwomen in tech."/>
        <meta name="author" content="your name" />
        <link rel="stylesheet" href="/stylesheets/styles.css"/>
    </head>
    <body>

<%- include("../partials/_head") -%>
<h1>Create a new profile</h1>

<form action="/profile" method="POST" enctype="multipart/form-data">
    <input name="name" type="text" />
    <input name="tagline" type="text" />
    <textarea name="bio"></textarea>
    <input name="photo" type="file" />
    <input type="submit" value="Create" />
</form>

<%- include("../partials/_footer") -%>

</body>
</html>